In [8]:
import seaborn  
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import statistics
# from sklearn.linear_model
import LinearRegression
import statsmodels.api as sm
import statsmodels.formula.api as smf
import warnings
warnings.filterwarnings('ignore')
%pip install lxml
%pip install html5lib

Collecting lxml
  Using cached lxml-4.9.2.tar.gz (3.7 MB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: lxml
  Building wheel for lxml (pyproject.toml) ... error
  error: subprocess-exited-with-error

  × Building wheel for lxml (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [119 lines of output]
      Building lxml version 4.9.2.
      Building without Cython.
      Building against libxml2 2.9.4 and libxslt 1.1.29
      running bdist_wheel
      running build
      running build_py
      creating build
      creating build/lib.macosx-10.9-universal2-cpython-311
      creating build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/_elementpath.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/sax.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/pyclasslookup.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/__init__.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/builder.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/doctestcompare.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/usedoctest.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/cssselect.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/ElementInclude.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      creating build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/__init__.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      creating build/lib.macosx-10.9-universal2-cpython-311/lxml/html
      copying src/lxml/html/soupparser.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml/html
      copying src/lxml/html/defs.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml/html
      copying src/lxml/html/_setmixin.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml/html
      copying src/lxml/html/clean.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml/html
      copying src/lxml/html/_diffcommand.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml/html
      copying src/lxml/html/html5parser.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml/html
      copying src/lxml/html/__init__.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml/html
      copying src/lxml/html/formfill.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml/html
      copying src/lxml/html/builder.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml/html
      copying src/lxml/html/ElementSoup.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml/html
      copying src/lxml/html/_html5builder.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml/html
      copying src/lxml/html/usedoctest.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml/html
      copying src/lxml/html/diff.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml/html
      creating build/lib.macosx-10.9-universal2-cpython-311/lxml/isoschematron
      copying src/lxml/isoschematron/__init__.py -> build/lib.macosx-10.9-universal2-cpython-311/lxml/isoschematron
      copying src/lxml/etree.h -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/etree_api.h -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/lxml.etree.h -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/lxml.etree_api.h -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/objectify.pyx -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/etree.pyx -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/public-api.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/xmlid.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/cleanup.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/xslt.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/xpath.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/debug.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/serializer.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/classlookup.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/saxparser.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/objectpath.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/relaxng.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/xinclude.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/iterparse.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/parser.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/dtd.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/apihelpers.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/xmlerror.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/readonlytree.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/extensions.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/xmlschema.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/schematron.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/docloader.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/nsclasses.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/parsertarget.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/xsltext.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/proxy.pxi -> build/lib.macosx-10.9-universal2-cpython-311/lxml
      copying src/lxml/includes/xmlerror.pxd -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/c14n.pxd -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/xmlschema.pxd -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/__init__.pxd -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/schematron.pxd -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/tree.pxd -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/uri.pxd -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/etreepublic.pxd -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/xpath.pxd -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/htmlparser.pxd -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/xslt.pxd -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/config.pxd -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/xmlparser.pxd -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/xinclude.pxd -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/dtdvalid.pxd -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/relaxng.pxd -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/lxml-version.h -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      copying src/lxml/includes/etree_defs.h -> build/lib.macosx-10.9-universal2-cpython-311/lxml/includes
      creating build/lib.macosx-10.9-universal2-cpython-311/lxml/isoschematron/resources
      creating build/lib.macosx-10.9-universal2-cpython-311/lxml/isoschematron/resources/rng
      copying src/lxml/isoschematron/resources/rng/iso-schematron.rng -> build/lib.macosx-10.9-universal2-cpython-311/lxml/isoschematron/resources/rng
      creating build/lib.macosx-10.9-universal2-cpython-311/lxml/isoschematron/resources/xsl
      copying src/lxml/isoschematron/resources/xsl/XSD2Schtrn.xsl -> build/lib.macosx-10.9-universal2-cpython-311/lxml/isoschematron/resources/xsl
      copying src/lxml/isoschematron/resources/xsl/RNG2Schtrn.xsl -> build/lib.macosx-10.9-universal2-cpython-311/lxml/isoschematron/resources/xsl
      creating build/lib.macosx-10.9-universal2-cpython-311/lxml/isoschematron/resources/xsl/iso-schematron-xslt1
      copying src/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_abstract_expand.xsl -> build/lib.macosx-10.9-universal2-cpython-311/lxml/isoschematron/resources/xsl/iso-schematron-xslt1
      copying src/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_dsdl_include.xsl -> build/lib.macosx-10.9-universal2-cpython-311/lxml/isoschematron/resources/xsl/iso-schematron-xslt1
      copying src/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_schematron_skeleton_for_xslt1.xsl -> build/lib.macosx-10.9-universal2-cpython-311/lxml/isoschematron/resources/xsl/iso-schematron-xslt1
      copying src/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_svrl_for_xslt1.xsl -> build/lib.macosx-10.9-universal2-cpython-311/lxml/isoschematron/resources/xsl/iso-schematron-xslt1
      copying src/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_schematron_message.xsl -> build/lib.macosx-10.9-universal2-cpython-311/lxml/isoschematron/resources/xsl/iso-schematron-xslt1
      copying src/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/readme.txt -> build/lib.macosx-10.9-universal2-cpython-311/lxml/isoschematron/resources/xsl/iso-schematron-xslt1
      running build_ext
      building 'lxml.etree' extension
      creating build/temp.macosx-10.9-universal2-cpython-311
      creating build/temp.macosx-10.9-universal2-cpython-311/src
      creating build/temp.macosx-10.9-universal2-cpython-311/src/lxml
      clang -Wsign-compare -Wunreachable-code -fno-common -dynamic -DNDEBUG -g -fwrapv -O3 -Wall -arch arm64 -arch x86_64 -g -DCYTHON_CLINE_IN_TRACEBACK=0 -Isrc -Isrc/lxml/includes -I/Library/Frameworks/Python.framework/Versions/3.11/include/python3.11 -c src/lxml/etree.c -o build/temp.macosx-10.9-universal2-cpython-311/src/lxml/etree.o -w -flat_namespace
      xcrun: error: invalid active developer path (/Library/Developer/CommandLineTools), missing xcrun at: /Library/Developer/CommandLineTools/usr/bin/xcrun
      Compile failed: command '/usr/bin/clang' failed with exit code 1
      creating var
      creating var/folders
      creating var/folders/lr
      creating var/folders/lr/g9f1s98d57ng3w8mp87nh60c0000gn
      creating var/folders/lr/g9f1s98d57ng3w8mp87nh60c0000gn/T
      cc -I/usr/include/libxml2 -c /var/folders/lr/g9f1s98d57ng3w8mp87nh60c0000gn/T/xmlXPathInitzo16d6gm.c -o var/folders/lr/g9f1s98d57ng3w8mp87nh60c0000gn/T/xmlXPathInitzo16d6gm.o
      xcrun: error: invalid active developer path (/Library/Developer/CommandLineTools), missing xcrun at: /Library/Developer/CommandLineTools/usr/bin/xcrun
      *********************************************************************************
      Could not find function xmlCheckVersion in library libxml2. Is libxml2 installed?
      Perhaps try: xcode-select --install
      *********************************************************************************
      error: command '/usr/bin/clang' failed with exit code 1
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for lxml
Failed to build lxml
ERROR: Could not build wheels for lxml, which is required to install pyproject.toml-based projects
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: html5lib in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /Users/managammi/Library/Python/3.11/lib/python/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /Users/managammi/Library/Python/3.11/lib/python/site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

# Analysis of the Implications of Race on Poverty Status in America

## Data Collection

### Table 1: CPS Population and Per Capita Money Income, All People: 1967 to 2021

In [11]:
data1 = pd.read_csv("p01ar.csv", header=6) #header starts in row 6
data1

             Year Number (thousands) Per capita income     Unnamed: 3
0             NaN                NaN  Current\ndollars  2021\ndollars
1            2021            328,722            41,285         41,285
2       2020 (41)            328,059            38,931         40,749
3            2019            325,268            39,156         41,496
4            2018            324,356            36,080         38,929
5       2017 (40)            323,144            35,048         38,737
6            2017            323,156            34,489         38,119
7            2016            320,372            33,205         37,490
8            2015            318,868            31,653         36,198
9            2014            316,168            30,176         34,569
10      2013 (39)            313,443            30,027         34,980
11      2013 (38)            313,395            28,829         33,585
12           2012            311,116            28,281         33,434
13           2011            308,827            27,554         33,265
14      2010 (37)            306,553            26,558         33,073
15      2009 (36)            304,280            26,530         33,583
16           2008            301,483            26,964         34,014
17           2007            299,106            26,804         35,111
18           2006            296,824            26,352         35,498
19           2005            293,834            25,036         34,818
20      2004 (35)            291,166            23,857         34,302
21           2003            288,280            23,276         34,371
22           2002            285,933            22,794         34,424
23           2001            282,082            22,851         35,054
24      2000 (30)            279,517            22,346         35,255
25      1999 (29)            276,804            21,239         34,646
26           1998            271,743            20,120         33,519
27           1997            269,094            19,241         32,489
28           1996            266,792            18,136         31,285
29      1995 (25)            264,314            17,227         30,509
30      1994 (24)            262,105            16,555         30,025
31      1993 (23)            259,753            15,777         29,211
32      1992 (22)            256,830            14,847         28,182
33           1991            251,434            14,617         28,436
34           1990            248,886            14,387         29,007
35           1989            246,191            14,056         29,737
36           1988            243,685            13,123         28,977
37      1987 (21)            241,187            12,391         28,349
38           1986            238,789            11,670         27,618
39      1985 (20)            236,749            11,013         26,519
40      1984 (19)            234,066            10,328         25,723
41           1983            231,852             9,494         24,630
42           1982            229,587             8,980         24,292
43           1981            227,375             8,476         24,313
44           1980            225,242             7,787         24,445
45      1979 (18)            223,160             7,168         25,022
46           1978            215,935             6,455         24,670
47           1977            214,159             5,785         23,626
48      1976 (17)            212,566             5,271         22,885
49      1975 (16)            211,140             4,818         22,122
50  1974 (16)(15)            209,572             4,445         22,087
51           1973            207,949             4,141         22,634
52      1972 (14)            206,302             3,769         21,890
53      1971 (13)            204,840             3,417         20,441
54           1970            205,214             3,177         19,838
55           1969            202,189             3,007         19,701
56           1968            200,139             2,731         18,691
57      1967 (12)            198,120             2,464         17,525

### Table 2: People in Poverty by Nativity: 1993 to 2021

In [12]:
data2 = pd.read_excel("hstpov16.xlsx", header = 3) #note: 2 levels of headers
data2

,Year,All people,Unnamed: 2,Unnamed: 3,Native,Unnamed: 5,Unnamed: 6,Foreign-born,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,NaN,NaN,Naturalized citizen,NaN,NaN,Not a citizen,NaN,NaN
1,NaN,Total,Number in poverty,Percent in poverty,Total,Number in poverty,Percent in poverty,Total,Number in poverty,Percent in poverty,Total,Number in poverty,Percent in poverty,Total,Number in poverty,Percent in poverty
2,2021,328191,37933,11.6,281383,31083,11,46808,6850,14.6,22874,2428,10.6,23934,4422,18.5
3,2020 (1),327570,37548,11.5,282408,31485,11.1,45162,6063,13.4,22800,2087,9.2,22362,3977,17.8
4,2019,324754,33984,10.5,279867,28342,10.1,44886,5643,12.6,22746,2038,9,22140,3605,16.3
5,2018,323847,38146,11.8,278051,31828,11.4,45796,6317,13.8,22294,2215,9.9,23502,4103,17.5
6,2017 (2),322548,39564,12.3,277131,33143,12,45417,6421,14.1,21876,2185,10,23541,4236,18
7,2017,322549,39698,12.3,277158,33095,11.9,45391,6603,14.5,21851,2213,10.1,23540,4390,18.6
8,2016,319911,40616,12.7,276089,33999,12.3,43822,6617,15.1,20409,2045,10,23413,4572,19.5
9,2015,318454,43123,13.5,275398,35973,13.1,43056,7150,16.6,20084,2255,11.2,22973,4895,21.3
10,2014,315804,46657,14.8,273628,38871,14.2,42175,7786,18.5,19731,2347,11.9,22444,5439,24.2
11,2013 (3),313096,46269,14.8,272423,38831,14.3,40673,7438,18.3,19247,2132,11.1,21426,5306,24.8
12,2013 (4),312965,45318,14.5,271968,37921,13.9,40997,7397,18,19147,2425,12.7,21850,4972,22.8
13,2012,310648,46496,15,270570,38803,14.3,40078,7693,19.2,18193,2252,12.4,21885,5441,24.9
14,2011,308456,46247,15,268490,38661,14.4,39966,7586,19,17934,2233,12.5,22032,5353,24.3
15,2010 (5),306130,46343,15.1,266723,38485,14.4,39407,7858,19.9,17344,1954,11.3,22063,5904,26.8
16,2009,303820,43569,14.3,266223,36407,13.7,37597,7162,19,16024,1736,10.8,21573,5425,25.1
17,2008,301041,39829,13.2,264314,33293,12.6,36727,6536,17.8,15470,1577,10.2,21257,4959,23.3
18,2007,298699,37276,12.5,261456,31126,11.9,37243,6150,16.5,15050,1426,9.5,22193,4724,21.3
19,2006,296450,36460,12.3,259199,30790,11.9,37251,5670,15.2,14534,1345,9.3,22716,4324,19
20,2005,293135,36950,12.6,257513,31080,12.1,35621,5870,16.5,13881,1441,10.4,21740,4429,20.4
21,2004 (6),290617,37040,12.7,255443,31023,12.1,35173,6017,17.1,13505,1326,9.8,21669,4691,21.6
22,2003,287699,35861,12.5,253478,29965,11.8,34221,5897,17.2,13128,1309,10,21094,4588,21.7
23,2002,285317,34570,12.1,251881,29012,11.5,33437,5558,16.6,12832,1285,10,20605,4273,20.7
24,2001,281475,32907,11.7,249053,27698,11.1,32422,5209,16.1,11962,1186,9.9,20460,4023,19.7
25,2000 (7),278944,31581,11.3,247162,26680,10.8,31782,4901,15.4,11785,1060,9,19997,3841,19.2
26,1999 (8),276208,32791,11.9,246256,27757,11.3,29952,5034,16.8,11065,996,9,18886,4039,21.4
27,1998,271059,34476,12.7,244636,29707,12.1,26424,4769,18,9864,1087,11,16560,3682,22.2
28,1997,268480,35574,13.3,242219,30336,12.5,26261,5238,19.9,9732,1111,11.4,16529,4127,25
29,1996,266218,36529,13.7,240459,31117,12.9,25759,5412,21,9043,936,10.3,16716,4476,26.8
30,1995 (9),263733,36425,13.8,239206,30972,12.9,24527,5452,22.2,7904,833,10.5,16623,4619,27.8
31,1994 (10),261616,38059,14.5,238650,32865,13.8,22967,5194,22.6,7097,668,9.4,15869,4526,28.5
32,1993 (11),259278,39265,15.1,236745,34086,14.4,22533,5179,23,6973,707,10.1,15560,4472,28.7
33,"Source: U.S. Census Bureau, Current Population...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Footnotes are available at <www.census.gov/top...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Table 3: Poverty Status of People by Family Relationship, Race, and Hispanic Origin: 1959 to 2021

In [14]:
data3 = pd.read_excel("hstpov2.xlsx" )
data3

# clean up data3 here so the subsets of data retrieved from it are cleaner already

FileNotFoundError: [Errno 2] No such file or directory: 'hstpov2.xlsx'

In [13]:
#plitting up data
#add the other years
dataAllRaces= data3.iloc[7:72,:]
dataWhite = data3.iloc[78:99,:] + data3.iloc[103:146,:]
dataBlack = data3.iloc[240:262,:] + data3.iloc[246:269,:]
dataAsian= data3.iloc[336:358,:] + data3.iloc[361:376,:]
dataNA= data3.iloc[410:432,:] + data3.iloc[103:146,:]
dataHispanic = data3.iloc[484:536,:] + data3.iloc[103:146,:]

NameError: name 'data3' is not defined

In [ ]:
dataAllRaces

In [ ]:
dataWhite

In [ ]:
dataBlack

In [ ]:
dataAsian

In [ ]:
dataNA

In [ ]:
dataHispanic

In [ ]:
header = {
    'User-Agent' : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36',
    'From': 'pleaseletmein@gmail.com'}
povByRace = requests.get('https://www.kff.org/other/state-indicator/poverty-rate-by-raceethnicity/?currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D', 
                                 headers = header)
soup1 = BeautifulSoup(povByRace.content, 'html.parser')
print(soup1.prettify())

table1 = soup1.findAll('table')

tables = pd.read_html(str(table1))
df = tables[0]

df