In [ ]:
import seaborn  
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import statistics
from sklearn.linear_model
import LinearRegression
import statsmodels.api as sm
import statsmodels.formula.api as smf
import warnings
warnings.filterwarnings('ignore')
%pip install lxml
%pip install html5lib

# Analysis of Povety in America and the Implications of Race on Proverty Status

## Data Collection, Processing, and Cleaning

### Table 1: CPS Population and Per Capita Money Income, All People: 1967 to 2021

In [99]:
data1 = pd.read_csv("p01ar.csv", header=6) #header starts in row 6
data1.head(7)

        Year Number (thousands) Per capita income     Unnamed: 3
0        NaN                NaN  Current\ndollars  2021\ndollars
1       2021            328,722            41,285         41,285
2  2020 (41)            328,059            38,931         40,749
3       2019            325,268            39,156         41,496
4       2018            324,356            36,080         38,929
5  2017 (40)            323,144            35,048         38,737
6       2017            323,156            34,489         38,119

In [100]:
data1 = data1.rename(columns = {"Per capita income": "Current PCI in Dollars", "Unnamed: 3":"2021 PCI in Dollars"}) #rename headers
data1 = data1.drop(index = [0]) # now can drop the first row 
data1.head(7)
#PCI = Per Capita Income

        Year Number (thousands) Current PCI in Dollars 2021 PCI in Dollars
1       2021            328,722                 41,285              41,285
2  2020 (41)            328,059                 38,931              40,749
3       2019            325,268                 39,156              41,496
4       2018            324,356                 36,080              38,929
5  2017 (40)            323,144                 35,048              38,737
6       2017            323,156                 34,489              38,119
7       2016            320,372                 33,205              37,490

In [117]:
data1['Year'] = data1['Year'].apply(lambda item : (str(item[:4])) if str.__contains__(str(item),'(') == True else item) #want to remove the numbers in paranthesis next to the years
data1['Number (thousands)'] = data1['Number (thousands)'].apply(lambda item : (item.replace(",", "") if str.__contains__(str(item),',') == True else item))
data1['Current PCI in Dollars'] = data1['Current PCI in Dollars'].apply(lambda item : (item.replace(",", "") if str.__contains__(str(item),',') == True else item))
data1['2021 PCI in Dollars'] = data1['2021 PCI in Dollars'].apply(lambda item : (item.replace(",", "") if str.__contains__(str(item),',') == True else item))
data1 = data1.astype({'Number (thousands)': int, 'Current PCI in Dollars': int, '2021 PCI in Dollars':int})
data1.head(15)
#changed last 3 columns into integers in case calculation is necessary later

    Year  Number (thousands)  Current PCI in Dollars  2021 PCI in Dollars
1   2021              328722                   41285                41285
2   2020              328059                   38931                40749
3   2019              325268                   39156                41496
4   2018              324356                   36080                38929
5   2017              323144                   35048                38737
6   2017              323156                   34489                38119
7   2016              320372                   33205                37490
8   2015              318868                   31653                36198
9   2014              316168                   30176                34569
10  2013              313443                   30027                34980
11  2013              313395                   28829                33585
12  2012              311116                   28281                33434
13  2011              308827                   27554                33265
14  2010              306553                   26558                33073
15  2009              304280                   26530                33583

### Table 2: People in Poverty by Nativity: 1993 to 2021

In [118]:
data2 = pd.read_excel("hstpov16.xlsx", header = 3) #note: 2 levels of headers
data2.head()

,Year,All people,Unnamed: 2,Unnamed: 3,Native,Unnamed: 5,Unnamed: 6,Foreign-born,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,NaN,NaN,Naturalized citizen,NaN,NaN,Not a citizen,NaN,NaN
1,NaN,Total,Number in poverty,Percent in poverty,Total,Number in poverty,Percent in poverty,Total,Number in poverty,Percent in poverty,Total,Number in poverty,Percent in poverty,Total,Number in poverty,Percent in poverty
2,2021,328191,37933,11.6,281383,31083,11,46808,6850,14.6,22874,2428,10.6,23934,4422,18.5
3,2020 (1),327570,37548,11.5,282408,31485,11.1,45162,6063,13.4,22800,2087,9.2,22362,3977,17.8
4,2019,324754,33984,10.5,279867,28342,10.1,44886,5643,12.6,22746,2038,9,22140,3605,16.3

In [121]:
#just want Native groups
dataNew = data2.loc[:, ["Year","Native","Unnamed: 5", "Unnamed: 6"]]
dataNew['Year'] = dataNew['Year'].apply(lambda item : (str(item[:4])) if str.__contains__(str(item),'(') == True else item) #want to remove the numbers in paranthesis next to the years
dataNew = dataNew.rename(columns = {"Native": "Total", "Unnamed: 5":"Number in Poverty", "Unnamed: 6": "Percent in Poverty"}) #rename headers
dataNew = dataNew.drop(index = [0,1])
dataNew.head(7)

   Year   Total Number in Poverty Percent in Poverty
2  2021  281383             31083                 11
3  2020  282408             31485               11.1
4  2019  279867             28342               10.1
5  2018  278051             31828               11.4
6  2017  277131             33143                 12
7  2017  277158             33095               11.9
8  2016  276089             33999               12.3

### Table 3: Poverty Status of People by Family Relationship, Race, and Hispanic Origin: 1959 to 2021

In [97]:
data3 = pd.read_excel("hstpov2.xlsx", header = 4 ) #several headers, first one starts on line 4
data3.head()
# dont any drop the rows or the rest of the dataframes will be affected too
# clean up data3 here so the subsets of data retrieved from it are cleaner already

,Year,All people,Unnamed: 2,Unnamed: 3,People in families,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unrelated individuals,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,All families,NaN,NaN,"Families with female householder, no spouse pr...",NaN,NaN,NaN,NaN,NaN
1,NaN,Total,Below poverty,NaN,Total,Below poverty,NaN,Total,Below poverty,NaN,Total,Below poverty,NaN
2,NaN,NaN,Number,Percent,NaN,Number,Percent,NaN,Number,Percent,NaN,Number,Percent
3,2021,328191,37933,11.6,263764,25077,9.5,48476,12264,25.3,63398,12513,19.7
4,2020 (1),327570,37548,11.5,264437,25232,9.5,48984,12469,25.5,62097,11963,19.3

In [98]:
#plitting up data
#add the other years
dataAllRaces= data3.iloc[4:68,:]
dataAllRaces.head()

,Year,All people,Unnamed: 2,Unnamed: 3,People in families,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unrelated individuals,Unnamed: 11,Unnamed: 12
4,2020 (1),327570,37548,11.5,264437,25232,9.5,48984,12469,25.5,62097,11963,19.3
5,2019,324754,33984,10.5,263696,22431,8.5,46255,11262,24.3,60117,11300,18.8
6,2018,323847,38146,11.8,262010,25489,9.7,46660,12491,26.8,60768,12287,20.2
7,2017 (2),322548,39564,12.3,261599,26720,10.2,47517,13525,28.5,59835,12465,20.8
8,2017,322549,39698,12.3,260709,26766,10.3,47999,13378,27.9,60786,12593,20.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,1963,187258,36436,19.5,176076,31498,17.9,N,7646,47.7,11182,4938,44.2
64,1962,184276,38625,21,173263,33623,19.4,N,7781,50.3,11013,5002,45.4
65,1961,181277,39628,21.9,170131,34509,20.3,N,7252,48.1,11146,5119,45.9
66,1960,179503,39851,22.2,168615,34925,20.7,N,7247,48.9,10888,4926,45.2
67,1959,176557,39490,22.4,165858,34562,20.8,N,7014,49.4,10699,4928,46.1

In [28]:
dataWhite = data3.iloc[71:143,:]
dataWhite.head()

,Year,All people,Unnamed: 2,Unnamed: 3,People in families,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unrelated individuals,Unnamed: 11,Unnamed: 12
71,NaN,Total,Below poverty,NaN,Total,Below poverty,NaN,Total,Below poverty,NaN,Total,Below poverty,NaN
72,NaN,NaN,Number,Percent,NaN,Number,Percent,NaN,Number,Percent,NaN,Number,Percent
73,2021,248909,24919,10,199319,15795,7.9,28961,6575,22.7,48788,8877,18.2
74,2020 (1),249083,25183,10.1,200217,16456,8.2,29829,6993,23.4,48044,8456,17.6
75,2019,248086,22512,9.1,200954,14295,7.1,27848,6007,21.6,46332,7998,17.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,1962,162842,26672,16.4,153348,22613,14.7,N,4089,37.9,9494,4059,42.7
140,1961,160306,27890,17.4,150717,23747,15.8,N,4062,37.6,9589,4143,43.2
141,1960,158863,28309,17.8,149458,24262,16.2,N,4296,39,9405,4047,43
142,1959,156956,28484,18.1,147802,24443,16.5,N,4232,40.2,9154,4041,44.1
143,"White Alone, Not Hispanic (23)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
dataBlack = data3.iloc[236:300,:]
dataBlack.head()

,Year,All people,Unnamed: 2,Unnamed: 3,People in families,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unrelated individuals,Unnamed: 11,Unnamed: 12
236,2021,43976,8583,19.5,34323,6202,18.1,14035,4328,30.8,9514,2315,24.3
237,2020 (1),43694,8556,19.6,34451,6062,17.6,14082,4214,29.9,9141,2434,26.6
238,2019,42965,8073,18.8,34033,5777,17,13939,4118,29.5,8863,2271,25.6
239,2018,42773,8884,20.8,33237,6242,18.8,13500,4277,31.7,9388,2584,27.5
240,2017 (2),42477,9224,21.7,33261,6594,19.8,13986,4811,34.4,9064,2573,28.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,1969,22011,7095,32.2,20192,6245,30.9,5537,3225,58.2,1819,850,46.7
296,1968,21944,7616,34.7,N,6839,33.7,N,3312,58.9,N,777,46.3
297,1967 (22),21590,8486,39.3,N,7677,38.4,N,3362,61.6,N,809,49.3
298,1966,21206,8867,41.8,N,8090,40.9,N,3160,65.3,N,777,54.4
299,1959,18013,9927,55.1,N,9112,54.9,N,2416,70.6,1430,815,57

In [38]:
dataAsian= data3.iloc[332:354,:]
dataAsian.head()

,Year,All people,Unnamed: 2,Unnamed: 3,People in families,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unrelated individuals,Unnamed: 11,Unnamed: 12
332,2021,20676,1922,9.3,17674,1206,6.8,1989,301,15.1,2972,714,24
333,2020 (1),20352,1645,8.1,17550,1080,6.2,1783,310,17.4,2754,553,20.1
334,2019,19926,1464,7.3,17134,946,5.5,1576,254,16.1,2752,518,18.8
335,2018,19768,1996,10.1,16765,1243,7.4,1686,327,19.4,2946,732,24.8
336,2017 (2),19526,1891,9.7,16748,1220,7.3,1715,288,16.8,2737,652,23.8
337,2017,19475,1953,10,16666,1276,7.7,1757,275,15.7,2758,674,24.4
338,2016,18879,1908,10.1,16220,1179,7.3,1657,326,19.7,2627,715,27.2
339,2015,18241,2078,11.4,15597,1260,8.1,1435,222,15.5,2556,784,30.7
340,2014,17790,2137,12,15261,1391,9.1,1725,315,18.2,2431,713,29.3
341,2013 (3),17257,2255,13.1,15057,1589,10.6,1574,442,28.1,2180,661,30.3
342,2013 (4),17063,1785,10.5,14895,1154,7.7,1657,228,13.7,2128,623,29.3
343,2012,16417,1921,11.7,14190,1357,9.6,1515,309,20.4,2156,547,25.4
344,2011,16086,1973,12.3,14100,1389,9.9,1570,327,20.8,1921,571,29.7
345,2010 (5),15611,1899,12.2,13515,1341,9.9,1471,327,22.2,2040,547,26.8
346,2009,14005,1746,12.5,12296,1244,10.1,1353,250,18.5,1673,491,29.3
347,2008,13310,1576,11.8,11719,1192,10.2,1308,209,16,1574,378,24
348,2007,13257,1349,10.2,11471,930,8.1,1256,217,17.3,1720,391,22.7
349,2006,13177,1353,10.3,11428,912,8,1057,187,17.7,1683,428,25.4
350,2005,12580,1402,11.1,10911,970,8.9,1059,189,17.8,1645,427,26
351,2004 (6),12231,1201,9.8,10734,812,7.6,1024,135,13.2,1472,388,26.3
352,2003,11856,1401,11.8,10333,1017,9.8,1028,242,23.6,1494,375,25.1
353,2002,11541,1161,10.1,9899,763,7.7,1019,155,15.2,1613,390,24.2

In [43]:
dataNA= data3.iloc[406:448,:] 
dataNA.head()

,Year,All people,Unnamed: 2,Unnamed: 3,People in families,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unrelated individuals,Unnamed: 11,Unnamed: 12
406,2021,4109,998,24.3,3432,759,22.1,999,434,43.5,649,218,33.5
407,2020 (1),3950,791,20,3271,591,18.1,877,303,34.6,665,194,29.2
408,2019,3735,677,18.1,3076,481,15.6,701,231,33,652,191,29.3
409,2018,3663,808,22.1,2993,597,20,828,233,28.1,656,209,31.8
410,2017 (2),3616,790,21.8,2973,573,19.3,888,299,33.7,618,206,33.4
411,2017,3619,750,20.7,2971,541,18.2,884,299,33.8,629,198,31.5
412,2016,3701,811,21.9,3037,598,19.7,892,323,36.2,635,189,29.7
413,2015,4269,995,23.3,3534,742,21,1090,481,44.1,701,231,32.9
414,2014,3808,1013,26.6,3225,791,24.5,940,445,47.4,559,210,37.6
415,2013 (3),3074,837,27.2,2587,664,25.7,840,359,42.7,485,173,35.6
416,2013 (4),3344,914,27.3,2785,709,25.5,819,349,42.6,537,184,34.2
417,2012,3459,1184,34.2,2820,928,32.9,920,481,52.2,606,236,39
418,2011,3210,917,28.6,2600,684,26.3,749,357,47.6,592,229,38.7
419,2010 (5),3076,886,28.8,2589,718,27.7,727,333,45.8,459,151,33
420,2009,2671,732,27.4,2197,546,24.9,650,243,37.4,445,166,37.4
421,2008,2845,770,27.1,2377,600,25.3,706,296,42,441,159,36
422,2007,2742,649,23.7,2195,439,20,535,194,36.2,487,184,37.8
423,2006,2536,744,29.3,2061,592,28.7,593,273,46,453,146,32.2
424,2005,2238,603,26.9,1825,459,25.2,535,242,45.3,381,136,35.6
425,2004 (6),2319,584,25.2,1930,447,23.1,450,189,41.9,370,129,34.9
426,2003,2240,532,23.8,1876,390,20.8,515,149,29,349,134,38.5
427,2002,2273,547,24.1,1901,401,21.1,491,202,41.2,333,112,33.5
428,American Indian and Alaska Native (24),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429,Year,All people,NaN,NaN,People in families,NaN,NaN,NaN,NaN,NaN,Unrelated individuals,NaN,NaN
430,NaN,NaN,NaN,NaN,All families,NaN,NaN,"Families with female householder, no spouse pr...",NaN,NaN,NaN,NaN,NaN
431,NaN,Total,Below poverty,NaN,Total,Below poverty,NaN,Total,Below poverty,NaN,Total,Below poverty,NaN
432,NaN,NaN,Number,Percent,NaN,Number,Percent,NaN,Number,Percent,NaN,Number,Percent
433,2001,3463,757,21.9,2885,584,20.3,758,358,47.3,543,145,26.7
434,2000 (7),3001,696,23.2,2521,538,21.3,595,254,42.7,453,147,32.6
435,1999 (8),3135,897,28.6,2630,710,27,643,310,48.3,453,158,35
436,1998,2472,571,23.1,2135,475,22.3,510,231,45.2,320,83,26
437,1997,2340,594,25.4,1948,457,23.4,488,231,47.4,364,122,33.5
438,1996,2399,731,30.5,2003,590,29.5,628,300,47.7,371,128,34.5
439,1995 (9),2321,718,31,1983,607,30.6,653,340,52,317,101,31.9
440,1994 (10),1482,392,26.4,1232,309,25.1,263,119,45,232,72,30.9
441,1993 (11),1690,399,23.6,1400,305,21.8,336,121,36.1,270,80,29.5
442,1992 (12),2054,600,29.2,1707,455,26.7,430,203,47.1,307,123,40
443,1991 (13),1793,562,31.3,1541,469,30.4,347,207,59.6,227,74,32.5
444,1990,1560,444,28.5,1317,348,26.4,334,181,54.1,219,75,34.2
445,1989,1445,345,23.9,1232,286,23.2,269,152,56.5,196,47,23.8
446,1988 (14),1454,440,30.2,1215,354,29.1,269,115,42.9,213,71,33.3
447,1987 (14),1345,387,28.8,1183,333,28.2,325,158,48.4,156,52,33.2

In [47]:
dataHispanic = data3.iloc[480:531,:] 
dataHispanic.head()

,Year,All people,Unnamed: 2,Unnamed: 3,People in families,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unrelated individuals,Unnamed: 11,Unnamed: 12
480,2021,62482,10690,17.1,53549,8288,15.5,12382,3754,30.3,8643,2303,26.6
481,2020 (1),61769,10520,17,53621,8379,15.6,12856,3866,30.1,7871,1992,25.3
482,2019,60602,9545,15.7,52743,7587,14.4,12248,3512,28.7,7627,1878,24.6
483,2018,59957,10526,17.6,52041,8368,16.1,11939,3716,31.1,7645,2047,26.8
484,2017 (2),59051,10816,18.3,51651,8760,17,12155,4274,35.2,7063,1946,27.6
485,2017,59053,10790,18.3,51517,8708,16.9,12244,4198,34.3,7206,1954,27.1
486,2016,57556,11137,19.4,50525,9200,18.2,11926,4136,34.7,6697,1793,26.8
487,2015,56780,12133,21.4,49524,10109,20.4,11878,4401,37.1,6884,1876,27.2
488,2014,55504,13104,23.6,48296,10853,22.5,11919,4817,40.4,6776,1981,29.2
489,2013 (3),54181,13356,24.7,47266,11128,23.5,13060,5406,41.4,6414,1915,29.9
490,2013 (4),54145,12744,23.5,47254,10536,22.3,11679,4860,41.6,6545,2063,31.5
491,2012,53105,13616,25.6,46183,11358,24.6,11255,4816,42.8,6502,2018,31
492,2011,52279,13244,25.3,45781,11143,24.3,11368,4996,44,6096,1882,30.9
493,2010 (5),50971,13522,26.5,44612,11384,25.5,10719,4748,44.3,5846,1863,31.9
494,2009,48811,12350,25.3,42717,10345,24.2,10283,4176,40.6,5718,1801,31.5
495,2008,47398,10987,23.2,41732,9303,22.3,9265,3751,40.5,5417,1577,29.1
496,2007,45933,9890,21.5,40125,8248,20.6,8917,3527,39.6,5508,1490,27.1
497,2006,44784,9243,20.6,39177,7650,19.5,8652,3189,36.9,5317,1468,27.6
498,2005,43020,9368,21.8,37759,7767,20.6,7868,3069,39,4971,1451,29.2
499,2004 (6),41690,9122,21.9,36438,7705,21.1,7825,3072,39.3,4971,1293,26
500,2003,40300,9051,22.5,35469,7637,21.5,7452,2861,38.4,4620,1325,28.7
501,2002,39216,8555,21.8,34598,7184,20.8,7013,2554,36.4,4364,1255,28.8
502,2001,37312,7997,21.4,33110,6674,20.2,6830,2585,37.8,3981,1211,30.4
503,2000 (7),35955,7747,21.5,31700,6430,20.3,6469,2444,37.8,3978,1163,29.2
504,1999 (8),34632,7876,22.7,30872,6702,21.7,6527,2642,40.5,3481,1068,30.7
505,1998,31515,8070,25.6,28055,6814,24.3,6074,2837,46.7,3218,1097,34.1
506,1997,30637,8308,27.1,27467,7198,26.2,5718,2911,50.9,2976,1017,34.2
507,1996,29614,8697,29.4,26340,7515,28.5,5641,3020,53.5,2985,1066,35.7
508,1995 (9),28344,8574,30.3,25165,7341,29.2,5785,3053,52.8,2947,1092,37
509,1994 (10),27442,8416,30.7,24390,7357,30.2,5328,2920,54.8,2798,926,33.1
510,1993 (11),26559,8126,30.6,23439,6876,29.3,5333,2837,53.2,2717,972,35.8
511,1992 (12),25646,7592,29.6,22695,6455,28.4,4806,2474,51.5,2577,881,34.2
512,1991 (13),22070,6339,28.7,19658,5541,28.2,4326,2282,52.7,2146,667,31.1
513,1990,21405,6006,28.1,18912,5091,26.9,3993,2115,53,2254,774,34.3
514,1989,20746,5430,26.2,18488,4659,25.2,3763,1902,50.6,2045,634,31
515,1988 (14),20064,5357,26.7,18102,4700,26,3734,2052,55,1864,597,32
516,1987 (14),19395,5422,28,17342,4761,27.5,3678,2045,55.6,1933,598,31
517,1986,18758,5117,27.3,16880,4469,26.5,3631,1921,52.9,1685,553,32.8
518,1985 (15),18075,5236,29,16276,4605,28.3,3561,1983,55.7,1602,532,33.2
519,1984 (16),16916,4806,28.4,15293,4192,27.4,3139,1764,56.2,1481,545,36.8
520,1983,16544,4633,28,15075,4113,27.3,3032,1670,55.1,1364,457,33.5
521,1982,14385,4301,29.9,13242,3865,29.2,2664,1601,60.1,1018,358,35.1
522,1981 (17),14021,3713,26.5,12922,3349,25.9,2622,1465,55.9,1005,313,31.1
523,1980,13600,3491,25.7,12547,3143,25.1,2421,1319,54.5,970,312,32.2
524,1979 (18),13371,2921,21.8,12291,2599,21.1,2058,1053,51.2,991,286,28.8
525,1978,12079,2607,21.6,11193,2343,20.9,1817,1024,56.4,886,264,29.8
526,1977,12046,2700,22.4,11249,2463,21.9,1901,1077,56.7,797,237,29.8
527,1976,11269,2783,24.7,10552,2516,23.8,1766,1000,56.6,716,266,37.2
528,1975,11117,2991,26.9,10472,2755,26.3,1842,1053,57.2,645,236,36.6
529,1974 (19),11201,2575,23,10584,2374,22.4,1723,915,53.1,617,201,32.6
530,1973,10795,2366,21.9,10269,2209,21.5,1534,881,57.4,526,157,29.9

In [ ]:
# header = {
#     'User-Agent' : 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/109.0.0.0 Safari/537.36',
#     'From': 'pleaseletmein@gmail.com'}
# povByRace = requests.get('https://www.kff.org/other/state-indicator/poverty-rate-by-raceethnicity/?currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D', 
#                                  headers = header)
# soup1 = BeautifulSoup(povByRace.content, 'html.parser')
# print(soup1.prettify())

# table1 = soup1.findAll('table')

# tables = pd.read_html(str(table1))
# df = tables[0]

# df


povByRace = pd.read_csv("povRace.csv", header=2)
povByRace.head(53)